---
import ComingSoon from "../components/ComingSoon.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Resume — Yulia Balenko"
  description="Resume of artist Yulia Balenko."
>
  <div class="site-container placeholder-content">
    <ComingSoon pageName="Resume" />
  </div>
</BaseLayout>
