---
import FacebookIcon from "./FacebookIcon.astro";
---

<footer class="site-footer">
  <div class="site-container footer-inner">
    <p>&copy; 2026 Yulia Balenko. All rights reserved.</p>
    <a
      class="social-icon-link"
      href="https://www.facebook.com/YuliaBalenkoArt"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Yulia Balenko Art Facebook page"
    >
      <FacebookIcon />
    </a>
  </div>
</footer>
